KAFKA_ADDR=localhost:9092
KAFKA_TOPIC_IS_DEAD=false
KAFKA_TOPIC_NAME=votes
KAFKA_TOPIC_DEAD_NAME=dead_votes
KAFKA_TOPIC_DEAD_CONSUMPTION_INTERVAL=5s
KAFKA_GROUP_ID=votes

GOSUSLUGI_HOST=localhost:3000
